:root {
    --bg-color: #9e9ef7;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--bg-color);
}

.header {
    padding: 0 1rem;
    text-align: center;
}

.news {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--bg-color);
    background-color: azure;
}

.news h1 {
    font-size: 1.4rem;
}

.news a {
    text-decoration: none;
    font-style: italic;
}

.btn {
    margin: 1rem;
    padding: .5rem 1rem;
    background-color: azure;
    border: none;
    box-shadow: 2px 2px 4px hsl(0, 0%, 0%, .25);
}